
.up{
  color: #b00 !important;
}

.down{
  color: #0b0 !important;
}

.fade{
  background: #ffe391 !important;
}
.fade-out{
  background: #fff;
  transition: background 2.5s ease-in-out;
  -moz-transition: background 2.5s ease-in-out;
  -webkit-transition: background 2.5s ease-in-out;
}

table{
  margin: auto;
  width: 100%;
  border-collapse: separate;
  border-spacing: 2px;
}

table th,table td{
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 2px;
  padding: 8px;
  font-size: 12px;
  line-height: 1rem;
  color: #222222;
  text-align: left;
}

table th{
  background: whitesmoke;
  font-weight: bold;
}

table tr:nth-of-type(even) {
  background: #f9f9f9;
}

table.quot{
  margin-bottom: 20px;
}

table.quot th{
  cursor: pointer;
}

table.quot th,table.quot td{
  width: 14.28%;
  text-align: right;
}

table.quot th:first-child,table.quot tr td:first-child{
  text-align: left;
}

table.quot th.sort{
  background: #ddd;
}

table.spread{
  margin-bottom: 20px;
}

table.spread th,table.spread td{
  text-align: right;
}

table.spread tr th:first-child{
  text-align: left;
}
