<div class="row login">
    <div class="large-6 large-centered columns">
        <form>
            <fieldset>
                <label>用户名</label>
                <input type="text" placeholder="">
                <label>密码</label>
                <input type="text" placeholder="">
                <div class="large-6 columns">
                    <a href="#" class="button small expand">登录</a>
                </div>
                <div class="large-6 columns">
                    <a href="#" class="button small expand">返回</a>
                </div>
            </fieldset>
        </form>
    </div>
</div>