<div class="row">
    <div class="large-12">
        <h3 class="font-hei">市场行情</h3>
        <table quot-table list="quotList"></table>
    </div>
</div>

<div class="row">
    <div class="large-12">
        <h3 class="font-hei">市场价差对比(CNY)</h3>
        <table class="spread" >
            <thead>
            <tr>
                <th></th>
                <th ng-repeat="qt in quotList">{{qt.title}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="q in quotList">
                <th>{{q.title}}</th>
                <td ng-repeat="qt in quotList" subtract-cny-last-value></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>